$purplescale: (
    "100": hsl(306, 100%, 50%),
    "200": hsl(252, 100%, 76%),
    "300": hsl(280, 91%, 59%),
    "400": hsl(273, 85%, 57%),
    "500": hsl(297, 86%, 25%),
    "600":hsla(313, 94%, 40%, 0.651),
    "700": hsl(262, 87%, 37%),
    "800": hsl(274, 70%, 22%),
    "900": hsl(274, 70%, 22%),
    "1200": hsl(240, 86%, 8%),
);

$light: #fff;
$o-dark: rgba(255,255,255,0.1);
$dark: rgb(255, 255, 255,0);