@use "../abstracts/" as *;


section{
  position: relative;
  width: 100%;
  display: block;
  margin-top: 3rem
}

.container{
  @include column();
  place-items: center;
  text-align: center;
  padding: 2rem;
}
